# Create list of Authors from a single publication

## Loading Correct and Relevant Data

In [154]:
#| default_exp inner_loop

In [155]:
%xmode minimal

Exception reporting mode: Minimal

In [156]:
# from nbdev.export import nb_export
# nb_export('iteration1.ipynb', '../preprocessing')

In [157]:
#| export

import pandas as pd
import pprint

In [158]:
#| export
#Reading Excel file with pandas and choosing the sheet we want to work with

usecols = ['id', 'title', 'contact_email', 'contact_author_name', 'doi', 'author_names']

df = pd.read_excel(open('../Catalogdatabase-till2018b.xlsx', 'rb'), sheet_name='publication', usecols=usecols)

In [151]:
#Displaying Relevant fields we'll work with

df_small

,id,title,contact_email,contact_author_name,doi,author_names
0,1.0,A river system modelling platform for Murray-D...,ang.yang@csiro.au,Ang Yang,10.2166/hydro.2012.153,"['Geoff Podger', 'Robert Power', 'Shane Seaton..."
1,2.0,Impact of Regulation and Network Topology on E...,lei@umd.edu,Lei Zhang,10.3141/2297-21,"['Dilya Yusufzyanova', 'Lei Zhang']"
2,3.0,Simulating Rural Environmentally and Socio-Eco...,msqalli@yahoo.com,Mehdi Saqalli,NaN,"['Charles L. Bielders', 'Pierre Defourny', 'Br..."
3,4.0,A preliminary test of Hunt's General Theory of...,tay@udayton.edu,N.S.P Tay,10.1016/j.jbusres.2004.04.005,"['RF Lusch', 'NSP Tay']"
4,5.0,Human birthweight evolution across contrasting...,fthomas@mpl.ird.fr,FrÃ©dÃ©ric Thomas,10.1111/j.1420-9101.2004.00705.x,"['SP Brown', 'EV Budilova', 'JF Guegan', 'F Re..."

In [7]:
#Displaying Relevant fields we'll work with

df_small

,id,title,contact_email,contact_author_name,doi,author_names
0,1.0,A river system modelling platform for Murray-D...,ang.yang@csiro.au,Ang Yang,10.2166/hydro.2012.153,"['Geoff Podger', 'Robert Power', 'Shane Seaton..."
1,2.0,Impact of Regulation and Network Topology on E...,lei@umd.edu,Lei Zhang,10.3141/2297-21,"['Dilya Yusufzyanova', 'Lei Zhang']"
2,3.0,Simulating Rural Environmentally and Socio-Eco...,msqalli@yahoo.com,Mehdi Saqalli,NaN,"['Charles L. Bielders', 'Pierre Defourny', 'Br..."
3,4.0,A preliminary test of Hunt's General Theory of...,tay@udayton.edu,N.S.P Tay,10.1016/j.jbusres.2004.04.005,"['RF Lusch', 'NSP Tay']"
4,5.0,Human birthweight evolution across contrasting...,fthomas@mpl.ird.fr,FrÃ©dÃ©ric Thomas,10.1111/j.1420-9101.2004.00705.x,"['SP Brown', 'EV Budilova', 'JF Guegan', 'F Re..."

## Create an Author for the ***first*** author listed in the first publication

1. Get the publication from first row
2. Get the author list as a string
3. Transform the string into a list
4. Extract the first, middle, and last name to create a single author object

In [8]:
# get the first row
single_publication = df_small.loc[0]
single_publication

id                                                                   1.0
title                  A river system modelling platform for Murray-D...
contact_email                                          ang.yang@csiro.au
contact_author_name                                             Ang Yang
doi                                               10.2166/hydro.2012.153
author_names           ['Geoff Podger', 'Robert Power', 'Shane Seaton...
Name: 0, dtype: object

In [9]:
## TODO: define a publication object with a id, title, and doi
class Publication:
    def __init__(self, id, title, doi):
        self.id = id
        self.title = title
        self.doi = doi

In [153]:
# TODO: create a publication object
publication = Publication(id=single_publication['id'], title=single_publication['title'], doi=single_publication['doi'])

In [16]:
# get the author list from the first row
author_names = single_publication['author_names']
author_names

"['Geoff Podger', 'Robert Power', 'Shane Seaton', 'Ang Yang']"

In [21]:
# remove all the brackets and single quotes
_author_names = author_names.strip("[]").replace("'", "")
_author_names

'Geoff Podger, Robert Power, Shane Seaton, Ang Yang'

In [22]:
# Split at ',' to get a list
_author_names = _author_names.split(', ')
_author_names

['Geoff Podger', 'Robert Power', 'Shane Seaton', 'Ang Yang']

Okay, that looks good! Let's put all that in a function.

In [23]:
#| export
def get_author_names_list(author_names):
    author_names = author_names.strip("[]").replace("'", "")
    author_names_list = author_names.split(', ')
    return author_names_list

In [24]:
author_names = single_publication['author_names']
author_names_list = get_author_names_list(author_names)
author_names_list

['Geoff Podger', 'Robert Power', 'Shane Seaton', 'Ang Yang']

In [25]:
# grab a single author name from the list of authors
single_author = author_names_list[0]
single_author

'Geoff Podger'

In [26]:
## Extract the first, middle, and last name
names = single_author.split(' ')
first_name = names[0]
last_name = names[-1]
middle_name = ' '.join(names[1:-1]) if len(names) > 2 else None

(first_name, middle_name, last_name)

('Geoff', None, 'Podger')

That looks good! Let's put all that logic in a function we can reuse.

In [27]:
#| export
def extract_names(full_name):
    names = full_name.split(' ')
    first_name = names[0]
    last_name = names[-1]
    middle_name = ' '.join(names[1:-1]) if len(names) > 2 else None

    return (first_name, middle_name, last_name)

Let's try running that on 'Geoff Podger' again and see if we get the same result.

In [28]:
extract_names(single_author)

('Geoff', None, 'Podger')

Nice! Now let's use that return value to create a new Author object.

In [29]:
class Author:
    
    # Static variable to keep track of author ids
    author_id_counter = 1
    
    def __init__(self, first, middle, last, email=None):
        # TODO: keep track and add author ids
        # you can use a regular variable somewhere or try out using a static variable, whatever you want
    
        # Generate a unique author id
        self.id = Author.author_id_counter
        Author.author_id_counter += 1
        
        self.first = first
        self.middle = middle
        self.last = last
        self.email = email
        self.publications = []
        
    def __repr__(self):
        dictionary = vars(self)
        dictionary['pub_ids'] = [pub.id for pub in self.publications]
        return pprint.pformat(dictionary, indent=4)

Notice that our `extract_names` function returns a tuple. We can assign each index in the tuple to a separate variable like this...

In [30]:
first, middle, last = extract_names(single_author)

Run the cells below just to check that they are, in fact, their own variables.

In [31]:
first

'Geoff'

In [32]:
middle

In [33]:
last

'Podger'

In [34]:
author = Author(first, middle, last)
author

{   'email': None,
    'first': 'Geoff',
    'id': 1,
    'last': 'Podger',
    'middle': None,
    'pub_ids': [],
    'publications': []}

In [39]:
# TODO: add the publication to the the author's publication attribute
# Add the publication to the list of publications
publication_list = []
publication_list.append(publication)
    
    # Split the authors string by ',' to get individual authors
authors = single_publication['author_names'].split(',')
    
    # Iterate over the authors and create an Author object for each
for author_name in authors:
    author_name = author_name.strip()  # Remove leading/trailing whitespaces if any
        
        # Create an Author object
    author = Author(first='', middle='', last='')  # Replace the empty strings with actual values if available
        
        # Add the Publication to the Author's list of publications
    author.publications.append(publication)

In [42]:
# TODO: add the publication to the author's publication attribute
def add_publication(self, publication):
    self.publications.append(publication)

## Review

Let's put everything we did all together.

In [41]:
single_publication = df.loc[0]
single_publication

id                                                                   1.0
title                  A river system modelling platform for Murray-D...
contact_email                                          ang.yang@csiro.au
contact_author_name                                             Ang Yang
doi                                               10.2166/hydro.2012.153
author_names           ['Geoff Podger', 'Robert Power', 'Shane Seaton...
Name: 0, dtype: object

In [43]:
author_names = single_publication['author_names']
author_names

"['Geoff Podger', 'Robert Power', 'Shane Seaton', 'Ang Yang']"

In [44]:
author_names_list = get_author_names_list(author_names)
author_names_list

['Geoff Podger', 'Robert Power', 'Shane Seaton', 'Ang Yang']

In [45]:
first_author = author_names_list[0]

In [46]:
first, middle, last = extract_names(first_author)
(first, middle, last)

('Geoff', None, 'Podger')

In [47]:
author = Author(first, middle, last)
author

{   'email': None,
    'first': 'Geoff',
    'id': 6,
    'last': 'Podger',
    'middle': None,
    'pub_ids': [],
    'publications': []}

## Create an Author for ***every*** author listed in the first publication

1. Get the publication from first row
2. Create a Publication object and add it to a list of publications
3. Get the author list as a string
4. Transform the string into a list
5. Extract the first, middle, and last name to create a single author object for every author in list
6. Add the Publication to the the Author's publication attribute

All the steps are the same, except we want to turn the last step into a loop so we turn every author in the list into an author object.

In [48]:
# 1. Get the publication from first row
single_publication = df.loc[0]
single_publication

id                                                                   1.0
title                  A river system modelling platform for Murray-D...
contact_email                                          ang.yang@csiro.au
contact_author_name                                             Ang Yang
doi                                               10.2166/hydro.2012.153
author_names           ['Geoff Podger', 'Robert Power', 'Shane Seaton...
Name: 0, dtype: object

In [49]:
publication_list = [] # list of Publication objects

In [51]:
# 2. TODO: Create a Publication object and add it to a list of publications (DONE)
publication = Publication(id=single_publication['id'], title=single_publication['title'], doi=single_publication['doi'])

publication_list.append(publication)

In [52]:
# 2. Get the author list as a string
author_names = single_publication['author_names']
author_names

"['Geoff Podger', 'Robert Power', 'Shane Seaton', 'Ang Yang']"

In [53]:
# 3. Transform the string into a list
author_names_list = get_author_names_list(author_names)
author_names_list

['Geoff Podger', 'Robert Power', 'Shane Seaton', 'Ang Yang']

In [54]:
# 4. For each author name in list, extract the first, middle, and last name to create a single author object

author_list = [] # list of Author objects

In [55]:
for author_string in author_names_list:
    # Extract first, middle, and last name from each author string
    first_name, middle_name, last_name = extract_names(author_string)

    # Create an Author object
    author = Author(first_name, middle_name, last_name)

    # TODO: add the publication to the author's publication attribute
    author.publications.append(publication)
   
    # Add the author to the author list
    author_list.append(author)

In [56]:
author_list

[{   'email': None,
     'first': 'Geoff',
     'id': 7,
     'last': 'Podger',
     'middle': None,
     'pub_ids': [1.0],
     'publications': [<__main__.Publication object at 0x15b87cd50>]},
 {   'email': None,
     'first': 'Robert',
     'id': 8,
     'last': 'Power',
     'middle': None,
     'pub_ids': [1.0],
     'publications': [<__main__.Publication object at 0x15b87cd50>]},
 {   'email': None,
     'first': 'Shane',
     'id': 9,
     'last': 'Seaton',
     'middle': None,
     'pub_ids': [1.0],
     'publications': [<__main__.Publication object at 0x15b87cd50>]},
 {   'email': None,
     'first': 'Ang',
     'id': 10,
     'last': 'Yang',
     'middle': None,
     'pub_ids': [1.0],
     'publications': [<__main__.Publication object at 0x15b87cd50>]}]

## Create an Author for every author listed in the first publication ***and*** add an email if that author is also the contact author

1. Create an Author object for the contact author
2. Write a function that compares the author to the contact author to see if they are the same
3. If they are the same, add the contact author email to the author

In [57]:
## Check if the contact author matches a sigle author

In [125]:
single_publication = df.loc[1]
single_publication

id                                                                   2.0
title                  Impact of Regulation and Network Topology on E...
contact_email                                                lei@umd.edu
contact_author_name                                            Lei Zhang
doi                                                      10.3141/2297-21
author_names                         ['Dilya Yusufzyanova', 'Lei Zhang']
Name: 1, dtype: object

In [126]:
# get contact author name from single_publication
contact_author_name = single_publication['contact_author_name']
contact_author_name

'Lei Zhang'

In [127]:
# use a function to extract the first, middle, and last names of the contact author
contact_first, contact_middle, contact_last = extract_names(contact_author_name)
contact_first, contact_middle, contact_last

('Lei', None, 'Zhang')

In [128]:
single_publication['contact_email']

'lei@umd.edu'

In [129]:
df_small['contact_email']

0     ang.yang@csiro.au
1           lei@umd.edu
2     msqalli@yahoo.com
3       tay@udayton.edu
4    fthomas@mpl.ird.fr
Name: contact_email, dtype: object

In [130]:
# get the contact email for the contact author
contact_author_email = single_publication['contact_email']
contact_author_email

'lei@umd.edu'

In [131]:
# get the contact email for the contact author
contact_author_email = single_publication['contact_email']
contact_author_email

'lei@umd.edu'

In [132]:
# create an Author object for the contact author

contact_author = Author(contact_first, contact_middle, contact_last, contact_author_email)
contact_author

{   'email': 'lei@umd.edu',
    'first': 'Lei',
    'id': 95,
    'last': 'Zhang',
    'middle': None,
    'pub_ids': [],
    'publications': []}

Let's save the author that matchs the contact author.

In [137]:
fourth_author = author_list[5]
fourth_author

{   'email': None,
    'first': 'Lei',
    'id': 82,
    'last': 'Zhang',
    'middle': None,
    'pub_ids': [2.0],
    'publications': [<__main__.Publication object at 0x15bb27350>]}

In [138]:
fourth_author.first == contact_author.first \
    and fourth_author.middle == contact_author.middle \
    and fourth_author.last == contact_author.last

True

Write a function that compares an author to the contact author and returns True if there is a match. We will call this function `__eq__`, because it is a special dunder method that allows us to compare two objects with a double equal sign (`==`). We will see how this function works when we integrate it into our class later.

In [139]:
def __eq__(author, contact_author):

    return author.first == contact_author.first and author.middle == contact_author.middle and author.last == contact_author.last

In [140]:
__eq__(author_list[5], contact_author)

True

Does it return `True`? Now let's try one we know is not a match and should return `False`.

In [141]:
author_list[5]

{   'email': None,
    'first': 'Lei',
    'id': 82,
    'last': 'Zhang',
    'middle': None,
    'pub_ids': [2.0],
    'publications': [<__main__.Publication object at 0x15bb27350>]}

In [143]:
__eq__(author_list[0], contact_author)

False

Finally, when we do find a match between an author and a contact author, we want to use the contact author information to add information to the author. We could do it like this...

In [144]:
if __eq__(fourth_author, contact_author):
    fourth_author.email = contact_author.email

... and we can see that it works because the email is now there.

In [145]:
fourth_author

{   'email': 'lei@umd.edu',
    'first': 'Lei',
    'id': 82,
    'last': 'Zhang',
    'middle': None,
    'pub_ids': [2.0],
    'publications': [<__main__.Publication object at 0x15bb27350>]}

In [146]:
contact_author

{   'email': 'lei@umd.edu',
    'first': 'Lei',
    'id': 95,
    'last': 'Zhang',
    'middle': None,
    'pub_ids': [],
    'publications': []}

But later down the line, we might want to also update the middle name or something as well. So we need to write a function to accomodate these future changes. Also, we want to add some validation to check that the two authors do actually share a name before we merge their information together.

In [86]:
def add_contact_author_info(author, contact_author):
    if not __eq__(author, contact_author):
        raise Exception('not a match')
    else: 
        #author_list.append(contact_author_email)
        author.email = contact_author.email

Does it work? Let's try it for an author that we known matchs...

In [87]:
add_contact_author_info(fourth_author, contact_author)

In [88]:
fourth_author

{   'email': 'ang.yang@csiro.au',
    'first': 'Ang',
    'id': 10,
    'last': 'Yang',
    'middle': None,
    'pub_ids': [1.0],
    'publications': [<__main__.Publication object at 0x15b87cd50>]}

And one that doesn't. The following code should throw an error...

In [89]:
add_contact_author_info(author_list[0], contact_author)

Exception: not a match

Okay! Now the only thing left to do is to put this all together in our loop. Take what you had before, but add a few lines to check if the new author and the contact author are the same. If they are, you need to add the contact author info to the new author. Use the commented code below to do it. 

**Don't forget to use** `__eq__` **and** `add_contact_author_info`**!**

In [90]:
for author_string in author_names_list:
    # extract first, middle, and last name from each author string
    # TODO: replace the code below with a function: DONE
    first_name, middle_name, last_name = extract_names(author_string)
    
    # create an Author object
    author = Author(first_name, middle_name, last_name)
    
    # TODO: add publication to author's publication list: DONE?
    author.publications.append(publication)
    
    if not __eq__(author, contact_author): 
        print ("Not a match")
    else:
        # add the author to the author list
        add_contact_author_info(author, contact_author)
        print("Done")

Not a match
Not a match
Not a match
Done

## ***For every publication...*** create a Publication and an Author for every author in the list and add an email if that author is also the contact author

The next step is to run the loop above for every single row in `df_small`. If you want, you can get started on that below.

In [91]:
df_small

,id,title,contact_email,contact_author_name,doi,author_names
0,1.0,A river system modelling platform for Murray-D...,ang.yang@csiro.au,Ang Yang,10.2166/hydro.2012.153,"['Geoff Podger', 'Robert Power', 'Shane Seaton..."
1,2.0,Impact of Regulation and Network Topology on E...,lei@umd.edu,Lei Zhang,10.3141/2297-21,"['Dilya Yusufzyanova', 'Lei Zhang']"
2,3.0,Simulating Rural Environmentally and Socio-Eco...,msqalli@yahoo.com,Mehdi Saqalli,NaN,"['Charles L. Bielders', 'Pierre Defourny', 'Br..."
3,4.0,A preliminary test of Hunt's General Theory of...,tay@udayton.edu,N.S.P Tay,10.1016/j.jbusres.2004.04.005,"['RF Lusch', 'NSP Tay']"
4,5.0,Human birthweight evolution across contrasting...,fthomas@mpl.ird.fr,FrÃ©dÃ©ric Thomas,10.1111/j.1420-9101.2004.00705.x,"['SP Brown', 'EV Budilova', 'JF Guegan', 'F Re..."

In [148]:
publication_list = []
author_list = []

for index, row in df_small.iterrows():
    # create a new publication object- DONE
    publication = Publication(id=row['id'], title=row['title'], doi=row['doi'])

    # add the publication to the list- DONE
    publication_list.append(publication)

    # create an Author object for every author belonging to the publication - DONE
    author_names_list = get_author_names_list(row['author_names'])

    #Create contact author
    
    contact_name = row["contact_author_name"]

    contact_first_name, contact_middle_name, contact_last_name = extract_names(contact_name)
    
    
    contact_author = Author(contact_first_name, contact_middle_name, contact_last_name, row["contact_email"])
    
    
    for author_name in author_names_list:
        # Extract first, middle, and last name from each author string
        first_name, middle_name, last_name = extract_names(author_name)

        # Create an Author object
        author = Author(first_name, middle_name, last_name)

        
        # Add the publication to the Author's list of publications - DONE
        author.publications.append(publication)
        
        # if that author is also the contact author, add an email - DONE
        if __eq__(author, contact_author):
            print ("True", author)
            add_contact_author_info(author, contact_author)
            
        # add the Author to the list of Authors - DONE
        author_list.append(author)

True {   'email': None,
    'first': 'Ang',
    'id': 100,
    'last': 'Yang',
    'middle': None,
    'pub_ids': [1.0],
    'publications': [<__main__.Publication object at 0x15bb33710>]}
True {   'email': None,
    'first': 'Lei',
    'id': 103,
    'last': 'Zhang',
    'middle': None,
    'pub_ids': [2.0],
    'publications': [<__main__.Publication object at 0x15bb33450>]}
True {   'email': None,
    'first': 'Mehdi',
    'id': 108,
    'last': 'Saqalli',
    'middle': None,
    'pub_ids': [3.0],
    'publications': [<__main__.Publication object at 0x15af490d0>]}

In [149]:
for publication in publication_list:
    print(publication)
for author in author_list:
    print(author)

<__main__.Publication object at 0x15bb33710>
<__main__.Publication object at 0x15bb33450>
<__main__.Publication object at 0x15af490d0>
<__main__.Publication object at 0x15b81e350>
<__main__.Publication object at 0x15af54a90>
{   'email': None,
    'first': 'Geoff',
    'id': 97,
    'last': 'Podger',
    'middle': None,
    'pub_ids': [1.0],
    'publications': [<__main__.Publication object at 0x15bb33710>]}
{   'email': None,
    'first': 'Robert',
    'id': 98,
    'last': 'Power',
    'middle': None,
    'pub_ids': [1.0],
    'publications': [<__main__.Publication object at 0x15bb33710>]}
{   'email': None,
    'first': 'Shane',
    'id': 99,
    'last': 'Seaton',
    'middle': None,
    'pub_ids': [1.0],
    'publications': [<__main__.Publication object at 0x15bb33710>]}
{   'email': 'ang.yang@csiro.au',
    'first': 'Ang',
    'id': 100,
    'last': 'Yang',
    'middle': None,
    'pub_ids': [1.0],
    'publications': [<__main__.Publication object at 0x15bb33710>]}
{   'email': None,
    'first': 'Dilya',
    'id': 102,
    'last': 'Yusufzyanova',
    'middle': None,
    'pub_ids': [2.0],
    'publications': [<__main__.Publication object at 0x15bb33450>]}
{   'email': 'lei@umd.edu',
    'first': 'Lei',
    'id': 103,
    'last': 'Zhang',
    'middle': None,
    'pub_ids': [2.0],
    'publications': [<__main__.Publication object at 0x15bb33450>]}
{   'email': None,
    'first': 'Charles',
    'id': 105,
    'last': 'Bielders',
    'middle': 'L.',
    'pub_ids': [3.0],
    'publications': [<__main__.Publication object at 0x15af490d0>]}
{   'email': None,
    'first': 'Pierre',
    'id': 106,
    'last': 'Defourny',
    'middle': None,
    'pub_ids': [3.0],
    'publications': [<__main__.Publication object at 0x15af490d0>]}
{   'email': None,
    'first': 'Bruno',
    'id': 107,
    'last': 'Gerard',
    'middle': None,
    'pub_ids': [3.0],
    'publications': [<__main__.Publication object at 0x15af490d0>]}
{   'email': 'msqalli@yahoo.com',
    'first': 'Mehdi',
    'id': 108,
    'last': 'Saqalli',
    'middle': None,
    'pub_ids': [3.0],
    'publications': [<__main__.Publication object at 0x15af490d0>]}
{   'email': None,
    'first': 'RF',
    'id': 110,
    'last': 'Lusch',
    'middle': None,
    'pub_ids': [4.0],
    'publications': [<__main__.Publication object at 0x15b81e350>]}
{   'email': None,
    'first': 'NSP',
    'id': 111,
    'last': 'Tay',
    'middle': None,
    'pub_ids': [4.0],
    'publications': [<__main__.Publication object at 0x15b81e350>]}
{   'email': None,
    'first': 'SP',
    'id': 113,
    'last': 'Brown',
    'middle': None,
    'pub_ids': [5.0],
    'publications': [<__main__.Publication object at 0x15af54a90>]}
{   'email': None,
    'first': 'EV',
    'id': 114,
    'last': 'Budilova',
    'middle': None,
    'pub_ids': [5.0],
    'publications': [<__main__.Publication object at 0x15af54a90>]}
{   'email': None,
    'first': 'JF',
    'id': 115,
    'last': 'Guegan',
    'middle': None,
    'pub_ids': [5.0],
    'publications': [<__main__.Publication object at 0x15af54a90>]}
{   'email': None,
    'first': 'F',
    'id': 116,
    'last': 'Renaud',
    'middle': None,
    'pub_ids': [5.0],
    'publications': [<__main__.Publication object at 0x15af54a90>]}
{   'email': None,
    'first': 'AT',
    'id': 117,
    'last': 'Teriokhin',
    'middle': None,
    'pub_ids': [5.0],
    'publications': [<__main__.Publication object at 0x15af54a90>]}
{   'email': None,
    'first': 'F',
    'id': 118,
    'last': 'Thomas',
    'middle': None,
    'pub_ids': [5.0],
    'publications': [<__main__.Publication object at 0x15af54a90>]}

In [ ]:
# Print the created publications and authors
for publication in publication_list:
    print(publication.__dict__)

for author in author_list:
    print(author.__dict__)