# Create list of Authors from a single publication

## Loading Correct and Relevant Data

In [ ]:
#| default_exp inner_loop

In [ ]:
%xmode minimal

In [ ]:
# from nbdev.export import nb_export
# nb_export('iteration1.ipynb', '../preprocessing')

In [ ]:
#| export

import pandas as pd
import pprint

In [ ]:
#| export
#Reading Excel file with pandas and choosing the sheet we want to work with

usecols = ['id', 'title', 'contact_email', 'contact_author_name', 'doi', 'author_names']

df = pd.read_excel(open('../Catalogdatabase-till2018b.xlsx', 'rb'), sheet_name='publication', usecols=usecols)

In [ ]:
# Practice functions with a small subset of the entire df
df_small = df.head()

In [ ]:
#Displaying Relevant fields we'll work with

df_small

## Create an Author for the ***first*** author listed in the first publication

1. Get the publication from first row
2. Get the author list as a string
3. Transform the string into a list
4. Extract the first, middle, and last name to create a single author object

In [ ]:
# get the first row
single_publication = df_small.loc[0]
single_publication

In [ ]:
# get the author list from the first row
author_names = single_publication['author_names']
author_names

In [ ]:
# remove all the brackets and single quotes
_author_names = author_names.strip("[]").replace("'", "")
_author_names

In [ ]:
# Split at ',' to get a list
_author_names = author_names.split(', ')
_author_names

Okay, that looks good! Let's put all that in a function.

In [ ]:
#| export
def get_author_names_list(author_names):
    author_names = author_names.strip("[]").replace("'", "")
    author_names_list = author_names.split(', ')
    return author_names_list

In [ ]:
author_names = single_publication['author_names']
author_names_list = get_author_names_list(author_names)
author_names_list

In [ ]:
# grab a single author name from the list of authors
single_author = author_names_list[0]
single_author

In [ ]:
## Extract the first, middle, and last name
names = single_author.split(' ')
first_name = names[0]
last_name = names[-1]
middle_name = ' '.join(names[1:-1]) if len(names) > 2 else None

(first_name, middle_name, last_name)

That looks good! Let's put all that logic in a function we can reuse.

In [ ]:
#| export
def extract_names(full_name):
    names = full_name.split(' ')
    first_name = names[0]
    last_name = names[-1]
    middle_name = ' '.join(names[1:-1]) if len(names) > 2 else None

    return (first_name, middle_name, last_name)

Let's try running that on 'Geoff Podger' again and see if we get the same result.

In [ ]:
extract_names(single_author)

Nice! Now let's use that return value to create a new Author object.

In [ ]:
class Author:
    def __init__(self, first, middle, last, email=None):
        self.first = first
        self.middle = middle
        self.last = last
        self.email = email
        
    def __repr__(self):
        return pprint.pformat(vars(self), indent=4)

Notice that our `extract_names` function returns a tuple. We can assign each index in the tuple to a separate variable like this...

In [ ]:
first, middle, last = extract_names(single_author)

Run the cells below just to check that they are, in fact, their own variables.

In [ ]:
first

In [ ]:
middle

In [ ]:
last

In [ ]:
author = Author(first, middle, last)
author

## Review

Let's put everything we did all together.

In [ ]:
single_publication = df.loc[0]
single_publication

In [ ]:
author_names = single_publication['author_names']
author_names

In [ ]:
author_names_list = get_author_names_list(author_names)
author_names_list

In [ ]:
first_author = author_names_list[0]

In [ ]:
first, middle, last = extract_names(first_author)
(first, middle, last)

In [ ]:
author = Author(first, middle, last)
author

## Create an Author for ***every*** author listed in the first publication

1. Get the publication from first row
2. Get the author list as a string
3. Transform the string into a list
4. Extract the first, middle, and last name to create a single author object for every author in list.

All the steps are the same, except we want to turn the last step into a loop so we turn every author in the list into an author object.

In [ ]:
# 1. Get the publication from first row
single_publication = df.loc[0]
single_publication

In [ ]:
# 2. Get the author list as a string
author_names = single_publication['author_names']
author_names

In [ ]:
# 3. Transform the string into a list
author_names_list = get_author_names_list(author_names)
author_names_list

In [ ]:
# 4. For each author name in list, extract the first, middle, and last name to create a single author object

author_list = [] # list of Author objects

In [ ]:
# use a loop to create an Author object for every author listed in the first publication

for author_string in author_names_list:
    # extract first, middle, and last name from each author string
    # create an Author object and add it to author_list
    # add the author to the author list

In [ ]:
author_list

## START HERE: Create an Author for every author listed in the first publication ***and*** add an email if that author is also the contact author

1. Create an Author object for the contact author
2. Write a function that compares the author to the contact author to see if they are the same
3. If they are the same, add the contact author email to the author

In [ ]:
## Check if the contact author matches a sigle author

In [ ]:
single_publication = df.loc[0]
single_publication

In [ ]:
# get contact author name from single_publication
contact_author_name = 
contact_author_name

In [ ]:
# use a function to extract the first, middle, and last names of the contact author
contact_first, contact_middle, contact_last = 
contact_first, contact_middle, contact_last

In [ ]:
# get the contact email for the contact author
contact_author_email =
contact_author_email

In [ ]:
# create an Author object for the contact author

contact_author = 
contact_author

Let's save the author that matchs the contact author.

In [ ]:
fourth_author = author_list[3]
fourth_author

In [ ]:
fourth_author.first == contact_author.first \
    and fourth_author.middle == contact_author.middle \
    and fourth_author.last == contact_author.last

Write a function that compares an author to the contact author and returns True if there is a match. We will call this function `__eq__`, because it is a special dunder method that allows us to compare two objects with a double equal sign (`==`). We will see how this function works when we integrate it into our class later.

In [ ]:
def __eq__(author, contact_author):
    # Compare the contact_author information with the Author object
    # Return True if there is a match, False otherwise

In [ ]:
__eq__(fourth_author, contact_author)

Does it return `True`? Now let's try one we know is not a match and should return `False`.

In [ ]:
author_list[0]

In [ ]:
__eq__(author_list[0], contact_author)

Finally, when we do find a match between an author and a contact author, we want to use the contact author information to add information to the author. We could do it like this...

In [ ]:
if __eq__(fourth_author, contact_author):
    fourth_author.email = contact_author.email

... and we can see that it works because the email is now there.

In [ ]:
fourth_author

But later down the line, we might want to also update the middle name or something as well. So we need to write a function to accomodate these future changes. Also, we want to add some validation to check that the two authors do actually share a name before we merge their information together.

In [ ]:
def add_contact_author_info(author, contact_author):
    # use the __eq__ function to make sure the author and contact_author are the same before merging them
    # if they aren't the same, raise Exception('not a match')
    # add the contact_author email to the author

Does it work? Let's try it for an author that we known matchs...

In [ ]:
add_contact_author_info(fourth_author, contact_author)

In [ ]:
fourth_author

And one that doesn't. The following code should throw an error...

In [ ]:
add_contact_author_info(author_list[0], contact_author)

Okay! Now the only thing left to do is to put this all together in our loop. Take what you had before, but add a few lines to check if the new author and the contact author are the same. If they are, you need to add the contact author info to the new author. Use the commented code below to do it. 

**Don't forget to use** `__eq__` **and** `add_contact_author_info`**!**

In [ ]:
for author_string in author_names_list:
    # extract first, middle, and last name from each author string
    # create an Author object
    # if the new author is equal to the contact author
    #      add the contact author info to the new author object
    # add the author to the author list

## Great job!!

The next step is to run the loop above for every single row in `df_small`. If you want, you can get started on that below.