## (1)This Iteration loads data and splits names

## Loading Correct and Relevant Data

In [2]:
#Installing Pandas

import pandas as pd

In [4]:
#Reading Excel file with pandas and choosing the sheet we want to work with

xls = pd.ExcelFile('/Users/_namitashah_/Desktop/gt/pre-processing-web-app/authorDataSet.xlsx')
df2 = pd.read_excel(xls, 'publication')

In [14]:
#Verifying correct data values show

df2.head()

,id,citations,mod,title,abstract,short_title,contact_email,email_sent_count,contact_author_name,is_primary,...,Sponsor (United States National Aeronautics and Space Administration (NASA)),Sponsor (United States National Institutes of Health (NIH)),Sponsor (United States National Oceanic and Atmospheric Administration (NOAA)),Sponsor (United States National Science Foundation (NSF)),Sponsor (United States Office of Naval Research (ONR)),Sponsor (Wellcome Trust),Sponsor Other,platformentioned,sponsormentioned,platform
0,1.0,1.0,28.0,A river system modelling platform for Murray-D...,Global climate change and local development ma...,NaN,ang.yang@csiro.au,0.0,Ang Yang,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,2.0,0.0,0.0,Impact of Regulation and Network Topology on E...,An agent-based model of roadway privatization ...,NaN,lei@umd.edu,0.0,Lei Zhang,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3.0,0.0,0.0,Simulating Rural Environmentally and Socio-Eco...,Development issues in developing countries bel...,NaN,msqalli@yahoo.com,0.0,Mehdi Saqalli,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0
3,4.0,0.0,0.0,A preliminary test of Hunt's General Theory of...,Business environments are complex and ill-defi...,NaN,tay@udayton.edu,0.0,N.S.P Tay,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0
4,5.0,0.0,0.0,Human birthweight evolution across contrasting...,We explore from both theoretical and empirical...,NaN,fthomas@mpl.ird.fr,0.0,Frédéric Thomas,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
#Creating new data frame with only selected columns

df = df2.loc[:,['id', 'title', 'contact_email', 'contact_author_name', 'doi', 'author_names']].head()

In [6]:
#Displaying Relevant fields we'll work with

df

,id,title,contact_email,contact_author_name,doi,author_names
0,1.0,A river system modelling platform for Murray-D...,ang.yang@csiro.au,Ang Yang,10.2166/hydro.2012.153,"['Geoff Podger', 'Robert Power', 'Shane Seaton..."
1,2.0,Impact of Regulation and Network Topology on E...,lei@umd.edu,Lei Zhang,10.3141/2297-21,"['Dilya Yusufzyanova', 'Lei Zhang']"
2,3.0,Simulating Rural Environmentally and Socio-Eco...,msqalli@yahoo.com,Mehdi Saqalli,NaN,"['Charles L. Bielders', 'Pierre Defourny', 'Br..."
3,4.0,A preliminary test of Hunt's General Theory of...,tay@udayton.edu,N.S.P Tay,10.1016/j.jbusres.2004.04.005,"['RF Lusch', 'NSP Tay']"
4,5.0,Human birthweight evolution across contrasting...,fthomas@mpl.ird.fr,Frédéric Thomas,10.1111/j.1420-9101.2004.00705.x,"['SP Brown', 'EV Budilova', 'JF Guegan', 'F Re..."

## Creating the Program

In [11]:
class Author:
    def __init__(self, first, middle, last, email=None):
        self.first = first
        self.middle = middle
        self.last = last
        self.email = email
        self.publications = []

# Create a list to hold Author objects
author_list = []

# Create an empty list to hold all the new Author objects
new_authors = []

In [14]:
authors_string = df2.iloc[1, 5]

In [16]:
authors_string

nan

## Testing Split

In [18]:
"""#author_list = authors_string.split(',')
# Print each author on a separate line
#for author in author_list:
 #   print(author)

# Iterate over each row
for row in df2.iterrows():
    # Get the string representing authors from the current row
    authors_string = row[]['author_names']
    
    # Split the string into a list of authors
    authors = authors_string.split(',')
    
    # Extend the author_list with the authors from the current row
    author_list.extend(authors)

# Print the list of all author names
print(author_list)
"""

"#author_list = authors_string.split(',')\n# Print each author on a separate line\n#for author in author_list:\n #   print(author)\n\n# Iterate over each row\nfor row in df2.iterrows():\n    # Get the string representing authors from the current row\n    authors_string = row[]['author_names']\n    \n    # Split the string into a list of authors\n    authors = authors_string.split(',')\n    \n    # Extend the author_list with the authors from the current row\n    author_list.extend(authors)\n\n# Print the list of all author names\nprint(author_list)\n"

## 1st Iteration to test Splitting Names

In [18]:
class Author:
    def __init__(self, first, middle, last, email=None):
        self.first = first
        self.middle = middle
        self.last = last
        self.email = email

    def compare_to_contact_author(self, contact_author):
        if self.email is not None and contact_author.lower() in self.email.lower():
            return True
        return False


# Create an author_list to hold all the Author objects
author_list = []

# Create a list that contains all the new Author objects
new_authors = []

# Process the first row and create Author objects
first_row_authors = df.loc[0, 'author_names'].split(', ')
contact_author = df.loc[0, 'contact_email']

for author_str in first_row_authors:
    names = author_str.split(' ')
    first_name = names[0]
    last_name = names[-1]
    middle_name = ' '.join(names[1:-1]) if len(names) > 2 else None

    # Create an Author object and add it to author_list
    new_author = Author(first_name, middle_name, last_name)
    author_list.append(new_author)

    # Check if the contact author matches with the newly created Author
    if new_author.compare_to_contact_author(contact_author):
        new_author.email = contact_author

        # Update the author's name with the contact author's name
        new_author.first = df.loc[0, 'Contact Author First Name']
        new_author.middle = df.loc[0, 'Contact Author Middle Name']
        new_author.last = df.loc[0, 'Contact Author Last Name']

        # Add the Author object to new_authors
        new_authors.append(new_author)

print("Author List:")
for author in author_list:
    print(f"First Name: {author.first}, Middle Name: {author.middle}, Last Name: {author.last}, Email: {author.email}")

print("\nNew Authors List:")
for author in new_authors:
    print(f"First Name: {author.first}, Middle Name: {author.middle}, Last Name: {author.last}, Email: {author.email}")

Author List:
First Name: ['Geoff, Middle Name: None, Last Name: Podger', Email: None
First Name: 'Robert, Middle Name: None, Last Name: Power', Email: None
First Name: 'Shane, Middle Name: None, Last Name: Seaton', Email: None
First Name: 'Ang, Middle Name: None, Last Name: Yang'], Email: None

New Authors List: