## Loading Correct and Relevant Data

In [4]:
#Installing Pandas

import pandas as pd

In [13]:
#Reading Excel file with pandas and choosing the sheet we want to work with

xls = pd.ExcelFile('/Users/_namitashah_/Desktop/gt/pre-processing-web-app/authorDataSet.xlsx')
df2 = pd.read_excel(xls, 'publication')

In [14]:
#Verifying correct data values show

df2.head()

,id,citations,mod,title,abstract,short_title,contact_email,email_sent_count,contact_author_name,is_primary,...,Sponsor (United States National Aeronautics and Space Administration (NASA)),Sponsor (United States National Institutes of Health (NIH)),Sponsor (United States National Oceanic and Atmospheric Administration (NOAA)),Sponsor (United States National Science Foundation (NSF)),Sponsor (United States Office of Naval Research (ONR)),Sponsor (Wellcome Trust),Sponsor Other,platformentioned,sponsormentioned,platform
0,1.0,1.0,28.0,A river system modelling platform for Murray-D...,Global climate change and local development ma...,NaN,ang.yang@csiro.au,0.0,Ang Yang,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,2.0,0.0,0.0,Impact of Regulation and Network Topology on E...,An agent-based model of roadway privatization ...,NaN,lei@umd.edu,0.0,Lei Zhang,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3.0,0.0,0.0,Simulating Rural Environmentally and Socio-Eco...,Development issues in developing countries bel...,NaN,msqalli@yahoo.com,0.0,Mehdi Saqalli,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0
3,4.0,0.0,0.0,A preliminary test of Hunt's General Theory of...,Business environments are complex and ill-defi...,NaN,tay@udayton.edu,0.0,N.S.P Tay,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0
4,5.0,0.0,0.0,Human birthweight evolution across contrasting...,We explore from both theoretical and empirical...,NaN,fthomas@mpl.ird.fr,0.0,Frédéric Thomas,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
#Creating new data frame with only selected columns

df = df2.loc[:,['id', 'title', 'contact_email', 'contact_author_name', 'doi', 'author_names']].head()

In [16]:
#Displaying Relevant fields we'll work with

df

,id,title,contact_email,contact_author_name,doi,author_names
0,1.0,A river system modelling platform for Murray-D...,ang.yang@csiro.au,Ang Yang,10.2166/hydro.2012.153,"['Geoff Podger', 'Robert Power', 'Shane Seaton..."
1,2.0,Impact of Regulation and Network Topology on E...,lei@umd.edu,Lei Zhang,10.3141/2297-21,"['Dilya Yusufzyanova', 'Lei Zhang']"
2,3.0,Simulating Rural Environmentally and Socio-Eco...,msqalli@yahoo.com,Mehdi Saqalli,NaN,"['Charles L. Bielders', 'Pierre Defourny', 'Br..."
3,4.0,A preliminary test of Hunt's General Theory of...,tay@udayton.edu,N.S.P Tay,10.1016/j.jbusres.2004.04.005,"['RF Lusch', 'NSP Tay']"
4,5.0,Human birthweight evolution across contrasting...,fthomas@mpl.ird.fr,Frédéric Thomas,10.1111/j.1420-9101.2004.00705.x,"['SP Brown', 'EV Budilova', 'JF Guegan', 'F Re..."

## Creating the Program

In [10]:
""" 
class Author:
    def __init__(self, first, middle, last, email=None):
        self.first = first
        self.middle = ""
        self.last = last
        self.email = None

    def compare_to_contact_author(self, contact_author):
        # Compare the contact_author information with the Author object
        # Return True if there is a match, False otherwise
        return (
            self.first == contact_author.first
            self.middle == contact_author.middle
            self.last == contact_author.last
        )

# Create a list to hold Author objects
author_list = []

# Create an empty list to hold all the new Author objects
new_authors = [] """

' \nclass Author:\n    def __init__(self, first, middle, last, email=None):\n        self.first = first\n        self.middle = ""\n        self.last = last\n        self.email = None\n\n    def compare_to_contact_author(self, contact_author):\n        # Compare the contact_author information with the Author object\n        # Return True if there is a match, False otherwise\n        return (\n            self.first == contact_author.first\n            self.middle == contact_author.middle\n            self.last == contact_author.last\n        )\n\n# Create a list to hold Author objects\nauthor_list = []\n\n# Create an empty list to hold all the new Author objects\nnew_authors = [] '

In [21]:
##authors_string = df2.iloc[0, 5]

In [8]:
##authors_string

"['Geoff Podger', 'Robert Power', 'Shane Seaton', 'Ang Yang']"

In [9]:
"""#author_list = authors_string.split(',')
# Print each author on a separate line
#for author in author_list:
 #   print(author)

# Iterate over each row
for row in df2.iterrows():
    # Get the string representing authors from the current row
    authors_string = row[]['author_names']
    
    # Split the string into a list of authors
    authors = authors_string.split(',')
    
    # Extend the author_list with the authors from the current row
    author_list.extend(authors)

# Print the list of all author names
print(author_list)
"""

SyntaxError: invalid syntax (1021250463.py, line 9)

In [11]:
"""class Author:
    def __init__(self, first, middle, last, email=None):
        self.first = first
        self.middle = middle
        self.last = last
        self.email = email

    def compare_to_contact_author(self, contact_author):
        # Compare the contact_author information with the Author object
        # Return True if there is a match, False otherwise
        return (
            self.first == contact_author.first
            and self.middle == contact_author.middle
            and self.last == contact_author.last
        )

# Create an empty list to hold all the new Author objects
new_authors = []

# Iterate over each row in the dataset
for column in df2:
    # Get the author list from the current row and convert it into a list
    authors_string = column[4]
    authors_list = authors_string.split(',')

    # Create an Author object for each author in the list and add it to new_authors
    for author_name in authors_list:
        # Extract the first, middle, and last names from the author_name
        first, middle, last = author_name.split(',')

        # Create a new Author object with the extracted information
        new_author = Author(first, middle, last)

        # Check if the contact_author matches with the new_author
        if new_author.compare_to_contact_author(contact_author):
            # Update the name and email of the Author object
            new_author.first = contact_author.first
            new_author.middle = contact_author.middle
            new_author.last = contact_author.last
            new_author.email = contact_author.email

        # Add the new_author to the list of new_authors
        new_authors.append(new_author)

# Print the list of all new Author objects
for author in new_authors:
    print(f"Name: {author.first} {author.middle} {author.last}")
    print(f"Email: {author.email}")
    print()


##Write true if new author and contact author is a match. """

'class Author:\n    def __init__(self, first, middle, last, email=None):\n        self.first = first\n        self.middle = middle\n        self.last = last\n        self.email = email\n\n    def compare_to_contact_author(self, contact_author):\n        # Compare the contact_author information with the Author object\n        # Return True if there is a match, False otherwise\n        return (\n            self.first == contact_author.first\n            and self.middle == contact_author.middle\n            and self.last == contact_author.last\n        )\n\n# Create an empty list to hold all the new Author objects\nnew_authors = []\n\n# Iterate over each row in the dataset\nfor column in df2:\n    # Get the author list from the current row and convert it into a list\n    authors_string = column[4]\n    authors_list = authors_string.split(\',\')\n\n    # Create an Author object for each author in the list and add it to new_authors\n    for author_name in authors_list:\n        # Extract the first, middle, and last names from the author_name\n        first, middle, last = author_name.split(\',\')\n\n        # Create a new Author object with the extracted information\n        new_author = Author(first, middle, last)\n\n        # Check if the contact_author matches with the new_author\n        if new_author.compare_to_contact_author(contact_author):\n            # Update the name and email of the Author object\n            new_author.first = contact_author.first\n            new_author.middle = contact_author.middle\n            new_author.last = contact_author.last\n            new_author.email = contact_author.email\n\n        # Add the new_author to the list of new_authors\n        new_authors.append(new_author)\n\n# Print the list of all new Author objects\nfor author in new_authors:\n    print(f"Name: {author.first} {author.middle} {author.last}")\n    print(f"Email: {author.email}")\n    print()\n\n\n##Write true if new author and contact author is a match. '

In [18]:
class Author:
    def __init__(self, first, middle, last, email=None):
        self.first = first
        self.middle = middle
        self.last = last
        self.email = email

    def compare_to_contact_author(self, contact_author):
        if self.email is not None and contact_author.lower() in self.email.lower():
            return True
        return False


# Create an author_list to hold all the Author objects
author_list = []

# Create a list that contains all the new Author objects
new_authors = []

# Process the first row and create Author objects
first_row_authors = df.loc[0, 'author_names'].split(', ')
contact_author = df.loc[0, 'contact_email']

for author_str in first_row_authors:
    names = author_str.split(' ')
    first_name = names[0]
    last_name = names[-1]
    middle_name = ' '.join(names[1:-1]) if len(names) > 2 else None

    # Create an Author object and add it to author_list
    new_author = Author(first_name, middle_name, last_name)
    author_list.append(new_author)

    # Check if the contact author matches with the newly created Author
    if new_author.compare_to_contact_author(contact_author):
        new_author.email = contact_author

        # Update the author's name with the contact author's name
        new_author.first = df.loc[0, 'Contact Author First Name']
        new_author.middle = df.loc[0, 'Contact Author Middle Name']
        new_author.last = df.loc[0, 'Contact Author Last Name']

        # Add the Author object to new_authors
        new_authors.append(new_author)

print("Author List:")
for author in author_list:
    print(f"First Name: {author.first}, Middle Name: {author.middle}, Last Name: {author.last}, Email: {author.email}")

print("\nNew Authors List:")
for author in new_authors:
    print(f"First Name: {author.first}, Middle Name: {author.middle}, Last Name: {author.last}, Email: {author.email}")

Author List:
First Name: ['Geoff, Middle Name: None, Last Name: Podger', Email: None
First Name: 'Robert, Middle Name: None, Last Name: Power', Email: None
First Name: 'Shane, Middle Name: None, Last Name: Seaton', Email: None
First Name: 'Ang, Middle Name: None, Last Name: Yang'], Email: None

New Authors List: